/***** BASE STYLES *****/

body {
    margin: 0;
    color: #2b2b2b;
    font-family: 'Roboto', sans-serif;
    
}

h1,h2,h3 {
    margin: 0px;
    width: 95%;
}
p {
    font-size: 24px;
}
h2{
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
}


/***** GRIDS (standard boxes for all the page) *****/
.full-width {
    width: 100%;
    margin: 0 auto;
}
.half-width {
    width: 50%;
    float: left;
}
.third-width {
    width: 33.3%;
    float: left;
}

/********************* Specific Styles ******************/

/********************HEADER Styles***********************/
header {
    background: url('../images-icons/hero-image.png');
    background-size: cover;
    background-position: center;
    height: 800px;
    overflow: auto;
    
}

header h1 {
    text-align: center;
    /*object-fit: contain;*/
    padding-top: 300px;
    color: #bdbf09;
    font-size: 60px;
}

header h2 {
    text-align: center;
    /*object-fit: contain;*/
    padding-top: 20px;
    color: #095256;
    font-size: 48px;
}


/*************************** PROJECTS Styles ********************/
#projects .half-width{
    height: 350px;
    width: 45%;
    padding: 2.5%;
}

#projects img { 
    width: 80%; 
    height: 80%;
}

#projects {
    height: 500px;
    color: #095256;
    overflow: auto;
    
}

#portfolio {
    height: 50px;  
}

#portfolio h3{
    font-size: 36px;
}


/*************************** ABOUT Styles ********************/

#about {
    background: #087e8b;
    height: 400px;
    color: white;
    overflow: auto;
    
}
#about-title  {
    clear: both;
    text-align: center;
}

#about img {
    width: 50%;
    vertical-align: middle;
    padding: 0% 5% 0% 15%;
}

   
/************************* CONTACT Styles *************************/
footer{
    background: #095156;
    height: 300px;
    text-align: center;
    color: white;
    overflow: auto;
    
}
footer .third-width{
    height: 200px;
    
    
}
footer a{
    color: white;
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
}
/*
footer img{
    padding: 0 10px 0 10px;
    width: 35%;
    height: 50%;
}*/
#foottitle{
    text-align: center;
}

/****************Remove list style***************************/

/*******************Put list items in a line*******************/

/**************Put in correct position************************/
