/***** BASE STYLES *****/

img { 
    width: 550px; 
    height: 350px; 
    /*object-fit: contain; */
} 

body {
    margin: 0;
    color: #2b2b2b;
}

h1,h2,h3 {
    margin: 0px;
}


/***** GRIDS (standard boxes for all the page) *****/
.full-width {
    width: 100%;
    margin: 0 auto;
}
.half-width {
    width: 50%;
    float: left;
}
.third-width {
    width: 33.3%;
    float: left;
}

/********************* Specific Styles ******************/

/********************HEADER Styles***********************/
header {
    background: url('../images-icons/hero-image.png');
    background-size: cover;
    background-position: center;
    height: 800px;
}

header h1 {
    text-align: center;
    /*object-fit: contain;*/
    padding-top: 300px;
}

header h2 {
    text-align: center;
    /*object-fit: contain;*/
    padding-top: 20px;
}


/*************************** PROJECTS Styles ********************/
#portfolio {
    height: 50px;
    text-align: center;
    clear: both;
}

#projects .half-width{
    height: 350px;
    width: 45%;
    padding: 2.5%;
}

#projects {
    height: 500px;
}

/*************************** ABOUT Styles ********************/

#about {
    background: #087e8b;
    height: 300px;
}
#about-title  {
    clear: both;
    text-align: center;
}

   
/************************* CONTACT Styles *************************/
footer{
    background: #095156;
    height: 450px;
    text-align: center;
}
footer .third-width{
    height: 400px;
    
    
}
#foottitle{
    text-align: center;
}

/****************Remove list style***************************/

/*******************Put list items in a line*******************/

/**************Put in correct position************************/
